@charset "utf-8";

@import '../../include/css/reset.css';
@import '../../include/css/normalize.css';
@import '../../include/css/font.css';
@import 'layout.css';

.contents {
  width: 50%;
  margin: 10% auto;
}
.contents > li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60px;
  margin: 4px 0;
  border: 1px solid #DDD;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.contents > li > span {
  position: relative;
}
.contents > li:hover {
  border-color: pink;
  font-weight: bold;
}
.contents > li:hover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: pink;
  animation: fillHeight .3s ease-out forwards;
  -webkit-animation: fillHeight .3s ease-out forwards;
}

@keyframes fillHeight {
  0% {height: 0;opacity: 0;}
  100% {height: 100%;opacity: 1;}
}