@charset "utf-8";


/* 폰트*/

@font-face { font-family: "NanumMyeongjoB"; src: url('../fonts/NanumMyeongjoB.woff') format("woff"); } 
@font-face { font-family: "NanumMyeongjoEB"; src: url('../fonts/NanumMyeongjoEB.woff') format("woff"); } 
@font-face { font-family: "NanumSquareRoundEB"; src: url('../fonts/NanumSquareRoundEB.woff') format("woff"); } 
@font-face { font-family: "NotoSansKR-Black"; src: url('../fonts/NotoSansKR-Black.woff') format("woff"); } 
@font-face { font-family: "NotoSansKR-Bold"; src: url('../fonts/NotoSansKR-Bold.woff') format("woff"); } 

body,
div,
ul,
li { margin: 0; padding: 0; } 
body { background: rgba(0,0,0,0.6); } 
li { list-style: none; } 

/* 배경이미지 */
.bgContainer { position: relative; width: 1920px; height: 1080px; box-sizing: border-box; background-image: url("../images//board/board_bg.jpg"); background-size: contain; background-repeat: no-repeat; } 

/* 제목 */
.bgContainer .title { position: absolute; left: 63px; top: 20px; width: 363px; height: 53px; background: url("../images//board/board_title.png") no-repeat left top / cover; font-size: 0; } 

/* 버튼 영역 */
.bgContainer .btn_wrap { position: absolute; right: 80px; top: 10px; z-index: 5; } 

.bgContainer .btn_wrap div,
.bgContainer .btn_wrap ul,
.bgContainer .btn_wrap li { background-repeat: no-repeat; background-size: 100%; } 

.bgContainer .btn_wrap ul { display: none; } 

/* 쓰기 */
.bgContainer .btn_wrap .write_area { float: right; width: 63px; height: 63px; background-image: url("../images//board/btn_text.png"); cursor: pointer; } 

.bgContainer .btn_wrap .write_area:hover { background-position-y: -63px; } 

.bgContainer .btn_wrap .write_area div { display: none; } 

.bgContainer .btn_wrap .write_area.on div { display: block; } 

.bgContainer .btn_wrap .write_area.on:hover { background-position-y: 0; } 

.bgContainer .btn_wrap .write_area.on { float: right; width: 471px; height: 61.5px; background-image: url("../images//board/text_box_bg.png"); cursor: initial; } 

.bgContainer .btn_wrap .write_area.on .current_color { position: absolute; left: 98px; top: 16px; width: 55.5px; height: 30px; background-image: url("../images//board/c_01.png"); cursor: initial; } 

.bgContainer .btn_wrap .write_area.on .color_btn { position: absolute; left: 160px; top: 20px; width: 25.5px; height: 25.5px; background-image: url("../images//board/btn_down.png"); cursor: pointer; } 

.bgContainer .btn_wrap .write_area.on .color_wrap { position: absolute; left: 85px; top: 64px; width: 86.25px; height: 207.75px; padding-top: 6px; background-image: url("../images//board/pen_box_c.png"); box-sizing: border-box; } 

.bgContainer .btn_wrap .write_area.on .color_wrap li { position: relative; left: -3px; width: 55.5px; height: 30px; margin: 0 auto 2px; cursor: pointer; } 

.bgContainer .btn_wrap .write_area.on .color_wrap .color_1 { background-image: url("../images//board/c_01.png"); } 

.bgContainer .btn_wrap .write_area.on .color_wrap .color_2 { background-image: url("../images//board/c_02.png"); } 

.bgContainer .btn_wrap .write_area.on .color_wrap .color_3 { background-image: url("../images//board/c_03.png"); } 

.bgContainer .btn_wrap .write_area.on .color_wrap .color_4 { background-image: url("../images//board/c_04.png"); } 

.bgContainer .btn_wrap .write_area.on .color_wrap .color_5 { background-image: url("../images//board/c_05.png"); } 

.bgContainer .btn_wrap .write_area.on .color_wrap .color_6 { background-image: url("../images//board/c_06.png"); } 

.bgContainer .btn_wrap .write_area.on .current_size { position: absolute; left: 210px; top: 18px; width: 45px; height: 28.5px; background-image: url("../images//board/t_50.png"); cursor: initial; } 

.bgContainer .btn_wrap .write_area.on .size_btn { position: absolute; left: 258px; top: 20px; width: 25.5px; height: 25.5px; background-image: url("../images//board/btn_down.png"); cursor: pointer; } 

.bgContainer .btn_wrap .write_area.on .size_wrap { position: absolute; left: 202px; top: 64px; width: 67.5px; height: 174.75px; padding-top: 6px; background-image: url("../images//board/pen_box_02.png"); box-sizing: border-box; } 

.bgContainer .btn_wrap .write_area.on .size_wrap li { position: relative; left: -3px; width: 45px; height: 28.5px; margin: 0 auto 3px; cursor: pointer; } 

.bgContainer .btn_wrap .write_area.on .size_wrap .size_1 { background-image: url("../images//board/t_50.png"); } 

.bgContainer .btn_wrap .write_area.on .size_wrap .size_2 { background-image: url("../images//board/t_60.png"); } 

.bgContainer .btn_wrap .write_area.on .size_wrap .size_3 { background-image: url("../images//board/t_70.png"); } 

.bgContainer .btn_wrap .write_area.on .size_wrap .size_4 { background-image: url("../images//board/t_80.png"); } 

.bgContainer .btn_wrap .write_area.on .size_wrap .size_5 { background-image: url("../images//board/t_90.png"); } 

.bgContainer .btn_wrap .write_area.on .current_style { position: absolute; left: 316px; top: 18px; width: 34.5px; height: 27px; background-image: url("../images//board/t_01.png"); cursor: initial; } 

.bgContainer .btn_wrap .write_area.on .current_style.on { position: absolute; left: 316px; top: 18px; width: 34.5px; height: 27px; background-image: url("../images//board/t_02.png"); cursor: initial; } 



.bgContainer .btn_wrap .write_area.on .style_btn { position: absolute; left: 358px; top: 20px; width: 25.5px; height: 25.5px; background-image: url("../images//board/btn_down.png"); cursor: pointer; } 

.bgContainer .btn_wrap .write_area.on .style_wrap { position: absolute; left: 305px; top: 64px; width: 63px; height: 78px; padding-top: 6px; background-image: url("../images//board/pen_box_03.png"); box-sizing: border-box; } 

.bgContainer .btn_wrap .write_area.on .style_wrap li { position: relative; left: -3px; width: 34.5px; height: 27px; margin: 0 auto 4px; cursor: pointer; } 

.bgContainer .btn_wrap .write_area.on .style_wrap .style_1 { background-image: url("../images//board/t_01.png"); } 

.bgContainer .btn_wrap .write_area.on .style_wrap .style_2 { background-image: url("../images//board/t_02.png"); } 

.bgContainer .btn_wrap .write_area.on .bold_btn { position: absolute; left: 406px; top: 16px; width: 40.5px; height: 33px; background-image: url("../images//board/text_bold.png"); cursor: pointer; } 

.bgContainer textarea { display: block; position: absolute; left: 64px; top: 134px; width: 1792px; height: 866px; background: none; border: none; outline: none; color: #fff; font-size: 50px; font-family: NotoSansKR-Bold; } 


/* 그리기 */
.bgContainer .btn_wrap .draw_area { float: right; width: 63px; height: 63px; margin: 0 18px; background-image: url("../images//board/btn_pencil.png"); cursor: pointer; } 

.bgContainer .btn_wrap .draw_area:hover { background-position-y: -63px; } 

.bgContainer .btn_wrap .draw_area div { display: none; } 

.bgContainer .btn_wrap .draw_area.on:hover { background-position-y: 0; } 

.bgContainer .btn_wrap .draw_area.on div { display: block; } 

.bgContainer .btn_wrap .draw_area.on { float: right; width: 406.5px; height: 61.5px; background-image: url("../images//board/pen_box_bg.png"); cursor: initial; } 

.bgContainer .btn_wrap .draw_area.on .current_color { position: absolute; left: 182px; top: 16px; width: 55.5px; height: 30px; background-image: url("../images//board/c_01.png"); cursor: initial; } 

.bgContainer .btn_wrap .draw_area.on .color_btn { position: absolute; left: 248px; top: 20px; width: 25.5px; height: 25.5px; background-image: url("../images//board/btn_down.png"); cursor: pointer; } 

.bgContainer .btn_wrap .draw_area.on .color_wrap { position: absolute; left: 170px; top: 64px; width: 86.25px; height: 207.75px; padding-top: 6px; background-image: url("../images//board/pen_box_c.png"); box-sizing: border-box; } 

.bgContainer .btn_wrap .draw_area.on .color_wrap li { position: relative; left: -3px; width: 55.5px; height: 30px; margin: 0 auto 2px; cursor: pointer; } 

.bgContainer .btn_wrap .draw_area.on .color_wrap .color_1 { background-image: url("../images//board/c_01.png"); } 

.bgContainer .btn_wrap .draw_area.on .color_wrap .color_2 { background-image: url("../images//board/c_02.png"); } 

.bgContainer .btn_wrap .draw_area.on .color_wrap .color_3 { background-image: url("../images//board/c_03.png"); } 

.bgContainer .btn_wrap .draw_area.on .color_wrap .color_4 { background-image: url("../images//board/c_04.png"); } 

.bgContainer .btn_wrap .draw_area.on .color_wrap .color_5 { background-image: url("../images//board/c_05.png"); } 

.bgContainer .btn_wrap .draw_area.on .color_wrap .color_6 { background-image: url("../images//board/c_06.png"); } 

.bgContainer .btn_wrap .draw_area.on .current_stroke { position: absolute; left: 293px; top: 23px; width: 67.5px; height: 16.5px; background-image: url("../images//board/tt_01.png"); cursor: initial; } 

.bgContainer .btn_wrap .draw_area.on .stroke_btn { position: absolute; left: 374px; top: 20px; width: 25.5px; height: 25.5px; background-image: url("../images//board/btn_down.png"); cursor: pointer; } 

.bgContainer .btn_wrap .draw_area.on .stroke_wrap { position: absolute; left: 284px; top: 64px; width: 93px; height: 111px; padding-top: 12px; background-image: url("../images//board/pen_box_t.png"); box-sizing: border-box; } 

.bgContainer .btn_wrap .draw_area.on .stroke_wrap li { position: relative; left: -3px; width: 67.5px; height: 16.5px; margin: 0 auto 4px; cursor: pointer; } 

.bgContainer .btn_wrap .draw_area.on .stroke_wrap .stroke_1 { background-image: url("../images//board/tt_01.png"); } 

.bgContainer .btn_wrap .draw_area.on .stroke_wrap .stroke_2 { background-image: url("../images//board/tt_02.png"); } 

.bgContainer .btn_wrap .draw_area.on .stroke_wrap .stroke_3 { background-image: url("../images//board/tt_03.png"); } 

.bgContainer .btn_wrap .draw_area.on .stroke_wrap .stroke_4 { background-image: url("../images//board/tt_04.png"); } 

.bgContainer .btn_wrap .draw_area.on .erase_btn { position: absolute; left: 418px; top: 12px; width: 45px; height: 37.5px; background-image: url("../images//board/pen_erase.png"); cursor: pointer; } 

/* 지우기 버튼 */
.bgContainer .btn_wrap .clear_btn { float: right; width: 63px; height: 63px; background-image: url("../images//board/btn_eraseall.png"); cursor: pointer; } 





.hide{display: none;}

textarea.hide, canvas.hide{z-index: 0;}
textarea, canvas{z-index: 1;}
.color_wrap.on, .stroke_wrap.on, .size_wrap.on, .style_wrap.on{display: block;}

.color_btn.on ~ .color_wrap,
.stroke_btn.on ~ .stroke_wrap,
.color_btn.on ~ .color_wrap,
.size_btn.on ~ .size_wrap,
.style_btn.on ~ .style_wrap{display: block;}
