@charset "utf-8";
* { -webkit-tap-highlight-color: transparent; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; margin: 0; padding: 0; font-family: 'NanumSquareEB'; } 

input[type="text"] { -webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; outline: none; } 

@font-face { font-family: 'NanumSquareB'; font-weight: 400; src: url(../fonts/NanumSquareB.woff) format('woff'); } 

@font-face { font-family: 'NanumSquareEB'; font-weight: 400; src: url(../fonts/NanumSquareEB.woff) format('woff'); } 

body { background-color: #FDF4DE; } 

#container { width:1920px; height:1080px; position: relative; top:0; left:0; background-color: #000; } 
.close { position: absolute; background-image:url(../images/choose/close.png); width:42.5px; height: 42.5px; background-size:42.5px 42.5px; cursor: pointer; } 
.close.hover { background-image:url(../images/choose/close_H.png); } 

/* 가운데 박스 */
.centerBox { position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); cursor: pointer; background-image: url(../images/choose/centerBG.png); width:298.5px; height:295px; background-size: 298.5px 295px; z-index: 1; } 
.centerBox .icon { position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); background-image: url(../images/choose/icon.png); width: 110px; height: 156.5px; background-size: 110px 156.5px; } 
.text { position: absolute; background-image: url(../images/choose/centerText.png); width:301px; height: 166.5px; background-size:301px 166.5px; top:280px; left: 1040px; } 

.centerBox.hover .icon { animation: movAni 2s linear infinite; } 

/* 하단 버튼 */
.reset { position: absolute; bottom:20px; right:200px; background-image: url(../images/choose/reset.png); width:130.5px; height: 60px; cursor: pointer; background-size: 130.5px 60px; } 
.reset.hover { background-image: url(../images/choose/reset_H.png); } 
.student { position: absolute; bottom:20px; right:20px; background-image: url(../images/choose/student.png); width:164px; height: 60px; cursor: pointer; background-size: 164px 60px; } 
.student.hover { background-image: url(../images/choose/student_H.png); } 

/* 물음표 누른 뒤 창 */
.step1Bg { background-color: rgba(0, 0, 0, 0.6); width:100%; height: 100%; position: absolute; top:0; left:0; z-index: 999; display: none; } 
.step1Bg .close { top:15px; right:65px; } 
.step1Text { position: absolute; top:53%; left:50%; transform: translate(-50%, -50%); font-size: 200px; } 

.step1 { position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); width:414px; height: 410px; background-size:414px 410px; } 

/* 랜덤 리스트 */
.list { position: absolute; top:20px; left:20px; width:770px; font-size: 0; } 
.list > div { width: 128.5px; height: 128px; display: inline-block; background-size: 128.5px 128px; font-size:66px; line-height: 135px; text-align: center; } 

/* 학생 수 */
.studentBG { background-color: rgba(0, 0, 0, 0.6); width:100%; height: 100%; position: absolute; top:0; left:0; z-index: 999; display: none; } 
.studentBox { position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); background-image: url(../images/choose/studentBG.png); width:638.5px; height: 422px; background-size:638.5px 422px; } 
.studentBox .close { top:9px; right:20px; } 
.studentBox input[type="text"] { position: absolute; border: 0; top: 200px; left: 100px; font-size: 166px; width: 260px; text-align: center; } 
.studentBox .ok { position: absolute; bottom:-75px; right: 0; background-image: url(../images/choose/ok.png); width:144.5px; height: 66px; background-size: 144.5px 66px; cursor: pointer; } 
.studentBox .ok.hover { background-image: url(../images/choose/ok_H.png); } 

/* 동그라미 */
.circle1 { background-image: url(../images/choose/circle1.png); } 
.circle2 { background-image: url(../images/choose/circle2.png); } 
.circle3 { background-image: url(../images/choose/circle3.png); } 
.circle4 { background-image: url(../images/choose/circle4.png); } 
.circle5 { background-image: url(../images/choose/circle5.png); } 
.circle6 { background-image: url(../images/choose/circle6.png); } 
.circle7 { background-image: url(../images/choose/circle7.png); } 
.circle8 { background-image: url(../images/choose/circle8.png); } 
.circle9 { background-image: url(../images/choose/circle9.png); } 
.circle10 { background-image: url(../images/choose/circle10.png); } 
.circle11 { background-image: url(../images/choose/circle11.png); } 
.circle12 { background-image: url(../images/choose/circle12.png); } 
.circle13 { background-image: url(../images/choose/circle13.png); } 
.circle14 { background-image: url(../images/choose/circle14.png); } 
.circle15 { background-image: url(../images/choose/circle15.png); } 
.circle16 { background-image: url(../images/choose/circle16.png); } 
.circle17 { background-image: url(../images/choose/circle17.png); } 
.circle18 { background-image: url(../images/choose/circle18.png); } 
.circle19 { background-image: url(../images/choose/circle19.png); } 
.circle20 { background-image: url(../images/choose/circle20.png); } 

@keyframes movAni { 
 0% { transform: translate(-50%, -50%); } 
 25% { transform: translate(-50%, -50%) rotate(20deg) scale(1.5); } 
 50% { transform: translate(-50%, -50%); } 
 75% { transform: translate(-50%, -50%) rotate(-20deg) scale(1.2); } 
 100% { transform: translate(-50%, -50%); } 
 }

.step1Bg.on { display: block; } 
.studentBG.on { display: block; } 