@charset "utf-8";@font-face { font-family: 'Nanum Gothic Extra Bold'; font-style: normal; font-weight: 700; src: url(../../fonts/NanumGothic-ExtraBold.woff) format('woff'); } 

* { margin:0; padding:0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-family: 'Nanum Gothic Extra Bold' } 
body { background-image:none; } 

.pList { background-image: url(../images/roulette/list_bg.png); background-repeat: no-repeat; position: absolute; width: 646px; height: 990px; top: 90px; left: 235px; z-index: 2; transform: rotate(0.5deg); } 

.penalty { background-image: url(../images/roulette/penalty_basic_over.png); background-repeat: no-repeat; position: absolute; width: 111px; height: 29px; top: 227px; left: 349px; z-index: 3; cursor: pointer; } 
.penalty:hover { background-image: url(../images/roulette/penalty_basic_over2.png); } 
.penalty.on { background-image: url(../images/roulette/penalty_basic_over2.png); } 

.customPenalty { background-image: url(../images/roulette/penalty_custom_over.png); background-repeat: no-repeat; position: absolute; width: 139px; height: 29px; top: 228px; left: 561px; z-index: 3; cursor: pointer; } 
.customPenalty:hover { background-image: url(../images/roulette/penalty_custom_over2.png); } 
.customPenalty.on { background-image: url(../images/roulette/penalty_custom_over2.png); } 

.changeText { outline: 0; border: 0px; font-size: 30px; position: absolute; background-color: transparent; width:388px; padding: 5px 8px; color:#08243B !important; } 

.textbox { font-size: 38px; position: absolute; word-wrap: break-word; width:255px; } 

.text1, .view1 { top: 0px; left: 0px; } 
.text2, .view2 { top: 52px; left: 0px; } 
.text3, .view3 { top: 104px; left: 0px; } 
.text4, .view4 { top: 156px; left: 0px; } 
.text5, .view5 { top: 208px; left: 0px; } 
.text6, .view6 { top: 260px; left: 0px; } 
.text7, .view7 { top: 312px; left: 0px; } 
.text8, .view8 { top: 364px; left: 0px; } 

.textView1 { top: 439px; left: 51px; color:#1A1814; } 
.textView2 { top: 221px; left: 130px; transform: rotate(45deg); color:#0F2024; } 
.textView3 { top: 138px; left: 336px; transform: rotate(90deg); color:#1A1814; } 
.textView4 { top: 239px; left: 548px; transform: rotate(135deg); color:#0F2024; } 
.textView5 { top: 448px; left: 621px; transform: rotate(180deg); color:#1A1814; } 
.textView6 { top: 651px; left: 542px; transform: rotate(224deg); color:#0F2024; } 
.textView7 { top: 710px; left: 339px; transform: rotate(270deg); color:#1A1814; } 
.textView8 { top: 630px; left: 131px; transform: rotate(316deg); color:#0F2024; } 

.changList { background-image: url(../images/roulette/custom_list.png); background-repeat: no-repeat; background-size: 403px 408px; position: absolute; top: 189px; left: 78px; width: 403px; height: 408px; z-index: 2; display: none; } 
.changList.on { display: block; } 

.viewList { top: 189px; left: 78px; width: 426px; height: 482px; position: absolute; z-index: 2; display: none; } 
.viewList.on { display: block; } 
.viewText { z-index: 2; width:388px; padding: 5px 8px; font-size: 30px; position: absolute; color: #08243B; } 

.roulette { background-image: url(../images/roulette/roulette1.png); background-repeat: no-repeat; background-size: 934px; position: absolute; width: 934px; height: 934px; top: 111px; left: 822px; z-index: 1; transform-origin: 50% 50%; transform: rotate(0deg); /* transition: 1s linear; */ } 

.start { background-image: url(../images/roulette/start_0001.png); background-repeat: no-repeat; position: absolute; width: 138px; height: 145px; top: 613px; left: 110px; cursor: pointer; } 
.start.hover { background-image: url(../images/roulette/start_0002.png); } 

.stop { background-image: url(../images/roulette/stop_0001.png); background-repeat: no-repeat; position: absolute; width: 117px; height: 122px; top: 638px; left: 321px; cursor: pointer; } 
.stop.hover { background-image: url(../images/roulette/stop_0002.png); } 

.rotate { animation:rotate 0.8s linear infinite; } 

@keyframes rotate { 
 0% { transform: rotate(0deg); } 
 10% { transform: rotate(36deg); } 
 20% { transform: rotate(72deg); } 
 30% { transform: rotate(108deg); } 
 40% { transform: rotate(144deg); } 
 50% { transform: rotate(180deg); } 
 60% { transform: rotate(216deg); } 
 70% { transform: rotate(252deg); } 
 80% { transform: rotate(288deg); } 
 90% { transform: rotate(324deg); } 
 100% { transform: rotate(360deg); } 
 }


 #container { position: relative; width: 1920px; height: 1080px; box-sizing: border-box; background-image: url(../images/roulette/bg.png); background-size: contain; background-repeat: no-repeat; } 