.title { color: #fff; background: #ff7c80; position: absolute; top: 0; left: 0; width: 200px; height: 100px; display: flex; justify-content: center; align-items: center; font-size: 40px; } 

.top { position: absolute; top: 20px; left: 230px; width: 600px; display: flex; justify-content: space-between; align-items: center; font-size: 25px; } 

.top button { width: 50px; height: 54px; background: #A9D18E; color: #fff; border-radius: 10px; } 

.top button.on { background: #548235; } 

.content {position: absolute;top: 100px;width: 100%;height: 980px;background: #FFEBEB;display: flex;justify-content: space-around;align-items: center;flex-wrap: wrap;} 

.group {width: 280px;height: 250px;text-align: center;margin-top: 50px;background: #CFE0F0;border-radius: 50% 50% 0 0;position: relative;margin: 60px;display: none;} 
.group.on{display: block;}
.group p{color: #FF7C80;font-size: 50px;margin-top: 30px;}
.group input{width: 80%;height: 70px;text-align: center;font-size: 30px;}
.group button{width: 110px;height: 60px;position: absolute;bottom: 10px;border-radius: 10px;color: #fff;font-size: 40px;}
.group .up{background: #92D050;left: 25px;}
.group .down{background: #FFC000;right: 25px;}
.reset{ position: absolute; top: 0px; right: 30px; width: 60px; height: 50px; background: #3cc; color: #fff; border-radius: 0 0 30px 30px; } 
input[type="text"]::placeholder { color: #000; } 
input[type="text"]:focus::placeholder { color: transparent; } 

#container {position: relative;width: 1920px;height: 1080px;} 