@charset "utf-8";

/* menu */
.menuContainer > button[data-sld-cont="1"]:after {content: 'choice';}
.menuContainer > button[data-sld-cont="2"]:after {content: 'check';}
.menuContainer > button[data-sld-cont="3"]:after {content: 'multicheck';}
.menuContainer > button[data-sld-cont="4"]:after {content: 'autoCheck';}
.menuContainer > button[data-sld-cont="5"]:after {content: 'trueFalse';}
.menuContainer > button[data-sld-cont="4"]:before {content: 'TYPE 4';}
.menuContainer > button[data-sld-cont="5"]:before {content: 'TYPE 5';}

/************************* custom *************************/
.quizContainer { position: absolute; top: 150px; left: 550px; }
.sliderContent[data-sld-cont="5"] .quizContainer { top: 50px; }
.sliderContent[data-sld-cont="5"] .choiceItem[data-group="2"] { top: 20px; }
.choiceBox { position: relative; }

.choiceItem { width: 20px; height: 20px; border-radius: 100%; background-color: #FF6347; color: #fff; text-align: center; font-size: 13px; position: relative; margin-top: 10px; }

.choiceItem.on { background-color: #36C0F4; }
.choiceItem.answerOn { background-color: rebeccapurple; }

.choiceItem::after { content: ''; display: block; }
.choiceItem::before { content: ''; display: block; position: absolute; left: 25px; top: 1px; color: #000; width: 60px; }
.choiceItem:nth-child(1)::before { content: '1번 문제'; } 
.choiceItem:nth-child(2)::before { content: '2번 문제'; } 
.choiceItem:nth-child(3)::before { content: '3번 문제'; } 
.choiceItem:nth-child(4)::before { content: '4번 문제'; } 
.choiceItem:nth-child(5)::before { content: '5번 문제'; } 

.choiceItem[data-text="1"]::after { content: '1'; }
.choiceItem[data-text="2"]::after { content: '2'; }
.choiceItem[data-text="3"]::after { content: '3'; }
.choiceItem[data-text="4"]::after { content: '4'; }
.choiceItem[data-text="5"]::after { content: '5'; }
.choiceItem[data-text="ㄱ"]::after { content: 'ㄱ'; }
.choiceItem[data-text="ㄴ"]::after { content: 'ㄴ'; }
.choiceItem[data-text="ㄷ"]::after { content: 'ㄷ'; }

.choiceBox + .choiceBox { margin-top: 100px; }

.choiceAnswer, .choiceReset, .allChoiceAnswer, .allChoiceReset { position: absolute; bottom: -35px; left: 100px; border: 1px solid; width: 80px; text-align: center; height: 25px; }
/* .choiceReset, .allChoiceReset { left: 200px; } */
.choiceAnswer::after { content: "정답"; font-size: 13px; }
.choiceReset::after { content: "다시하기"; font-size: 13px; }
.allChoiceAnswer::after { content: "전체정답"; font-size: 13px; }
.allChoiceReset::after { content: "전체다시하기"; font-size: 13px; }
.allChoiceAnswer, .allChoiceReset { bottom: -80px; }
.choiceReset, .allChoiceReset { left: 190px; }
/**********************************************************/

/************************* default ************************/
.choiceItem {
  cursor: pointer;
}

.choiceItem.on {
  /* check */
}
.choiceItem.answerOn {
  /* answer */
}

.choiceAnswer, .choiceReset, .allChoiceAnswer, .allChoiceReset { cursor: pointer; }
/**********************************************************/

/************************* TYPE1 ************************/
.choiceReset, .allChoiceReset { display: none; }

.choiceBox.complete .choiceAnswer { display: none; }
.choiceBox.complete .choiceReset { display: block; }

.quizContainer.allComplete .allChoiceAnswer { display: none; }
.quizContainer.allComplete .allChoiceReset { display: block; }
/**********************************************************/

/************************* TYPE2 ************************/
.choiceAnswer, .choiceReset, .allChoiceAnswer, .allChoiceReset { display: none; }

.choiceBox.checking .choiceAnswer { display: block; }

.choiceBox.complete .choiceAnswer { display: none; }
.choiceBox.complete .choiceReset { display: block; }

.quizContainer.allChecking .allChoiceAnswer { display: block; }

.quizContainer.allComplete .allChoiceAnswer { display: none; }
.quizContainer.allComplete .allChoiceReset { display: block; }
/**********************************************************/