/************************************************
*                      font                     *
*                    22.11.16                   *
*************************************************/

@font-face {
	font-family: "NanumSquareEB";
	src: url('../font/NanumSquareEB.woff') format("woff");
}

@font-face {
	font-family: "NanumSquareB";
	src: url('../font/NanumSquareB.woff') format("woff");
}
@font-face {
	font-family: "NanumSquareR";
	src: url('../font/NanumSquareR.woff') format("woff");
}

@font-face {
	font-family: "NanumSquareRoundEB";
	src: url('../font/NanumSquareRoundEB.woff') format("woff");
}

@font-face {
	font-family: "NanumMyeongjo-Bold";
	src: url('../font/NanumMyeongjoBold.woff') format("woff");
}

@font-face {
	font-family: "cafe24";
	src: url('../font/Cafe24Ssurround.woff') format("woff");
}

@font-face {
	font-family: "CookiR";
	src: url('../font/CookieRunRegular.woff') format("woff");
}

@font-face {
	font-family: "CookiB";
	src: url('../font/CookieRunBold.woff') format("woff");
}

@font-face {
	font-family: "CookiEB";
	src: url('../font/CookieRunBlack.woff') format("woff");
}