@charset "utf-8";

/************************* custom *************************/
.narration .sliderContentContainer > li[data-sld-cont="1"].selected {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.narrationBtn {
  position: absolute;
  top: 220px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../images/narration/play.png) center/ contain no-repeat;
}
.narrationBtn.isPlaying {
  background-image: url(../images/narration/stop.png);
}

.narrationBtn[data-narr-idx="1"] {left: 220px;}
.narrationBtn[data-narr-idx="2"] {left: 720px;}
.narrationBtn[data-narr-idx="3"] {left: 660px;}
.narrationBtn[data-narr-idx="4"] {top: 190px; left: 250px;}

.narrationTarget {
  margin: 0 50px;
  width: 198px;
  height: 250px;
  background: center / contain no-repeat;
}
.narrationTarget[data-narr-idx="1"] {
  background-image: url(../../contents/images/21_narration/21_narration_1.png);
}
.narrationTarget[data-narr-idx="1"].isPlaying {
  background-image: url(../../contents/images/21_narration/21_narration_1.gif);
}
.narrationTarget[data-narr-idx="2"] {
  background-image: url(../../contents/images/21_narration/21_narration_2.png);
}
.narrationTarget[data-narr-idx="2"].isPlaying {
  background-image: url(../../contents/images/21_narration/21_narration_2.gif);
}
.narrationTarget[data-narr-idx="3"] {
  background-image: url(../../contents/images/21_narration/21_narration_3.png);
}
.narrationTarget[data-narr-idx="3"].isPlaying {
  background-image: url(../../contents/images/21_narration/21_narration_3.gif);
}

.narrationTarget[data-narr-idx="4"] {
  width: calc(678px / 2);
  height: calc(608px / 2);
}
/**********************************************************/
