@charset "utf-8";

/* menu */
.menuContainer > button[data-sld-cont="1"]:after {content: 'video';}
.menuContainer > button[data-sld-cont="2"]:after {content: 'image(src)';}
.menuContainer > button[data-sld-cont="3"]:after {content: 'image(opacity)';}

/************************* custom *************************/
.sliderContainer { background-color: #aaa; }

.scrollControlBox { position: absolute; top: 570px; left: 450px; width: 380px; background-color: #fff; padding: 20px 0px; border-radius: 20px; }
.scrollControl { width: 330px; }
.scrollControlBar { height: 6px; border-radius: 10px; background: linear-gradient(to right, tomato 0%, #CCC 0%); }
.scrollControlBar { display: flex; justify-content: space-around; align-items: center; }
.scrollMoveDiv { width: 4px; height: 4px; border-radius: 50%; background-color: red; opacity: 0.5; }
.scrollMoveDiv.inactive { background-color: transparent; }
.scrollControlDot::before { background: tomato; border-radius: 50%; top: calc(-20px / 2); left: calc(-20px / 2); width: 20px; height: 20px; }

.scrollControlContainer[data-ctrl-opt*="vertical"] .scrollControlBox { top: 130px; left: 1210px; width: auto; padding: 0 20px; height: 380px; display: flex; align-items: center; }
.scrollControlContainer[data-ctrl-opt*="vertical"] .scrollControl { width: auto; height: 330px; }
.scrollControlContainer[data-ctrl-opt*="vertical"] .scrollControlBar { width: 6px; height: 100%;  background: linear-gradient(tomato 0%, #CCC 0%); }

.scrollControlContainer[data-ctrl-opt*="opacity"] .scrollControlDot { left:100%; }
.scrollControlContainer[data-ctrl-opt*="opacity"] .scrollControlBar { background: linear-gradient(to right, tomato 100%, #CCC 100%); }
.centerImg { width: 400px; margin: 90px auto; }
/**********************************************************/

/************************* default ************************/
.scrollControl { margin: 0 auto; position: relative; }
.scrollControlDot { position: absolute; top: 50%; width: 1px; height: 1px; cursor: pointer; }
.scrollControlDot::before { content: ''; display: block; position: absolute; }

.scrollControlContainer[data-ctrl-opt*="vertical"] .scrollControlDot { top: 0; left: 50%; }
/**********************************************************/