@charset "utf-8";

/* menu */
.menuContainer > button[data-sld-cont="1"]:after {content: 'scroll(horizontal)';}
.menuContainer > button[data-sld-cont="2"]:after {content: 'scroll(vertical)';}
.menuContainer > button[data-sld-cont="3"]:after {content: 'scroll(btn move)';}

/************************* custom *************************/
.scrollContainer .quizContainer[data-quiz-type="dragdrop"] { height: 200% !important; }
.scrollContainer[data-scroll-opt="horizontal"] .quizContainer[data-quiz-type="dragdrop"] { width: 200% !important; height: 100% !important; }

.scrollBg { top: 20px; right:10px; background-color: #ccc; border-radius: 20px; width: 10px; height: 600px; }
.scrollSize { width: 100%; height: 100%; }
/* .scrollSize { width: 8px; height: 598px; top: 1px; left: 1px; } */
.scrollMove { top: 0; left: 0; background-color: blueviolet; border-radius: 20px; width: 100%; height: 150px; }

.hscrollBg { top:auto; bottom: 20px; left: 10px; width: 1260px; height: 10px; }
.hscrollBg .scrollMove { height: 100%; width: 150px; }
/**********************************************************/

/************************* default ************************/
.scrollContainer,
.scrollBox {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scrollBox::-webkit-scrollbar { display: none; }

.scrollBg { position: absolute; }
.scrollSize { position: relative; }
.scrollMove { position: absolute; cursor: pointer; }
/**********************************************************/