@charset "utf-8";

@import '../../include/css/reset.css';
@import '../../include/css/normalize.css';
@import '../../include/css/font.css';

body > *:first-child,
main {
  position: relative;
  width: 100%;
  height: 100%;
  outline: 1px solid #EEE;
}

/************************* custom *************************/
/**********************************************************/

/************************* default ************************/
/**********************************************************/




/* test */